{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h2 class="mb-3">Login</h2>

            {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}

            <form action="{% url 'login' %}" method="post" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <input class="btn btn-primary btn-block" type="submit" value="Login">
            </form>

            <span class="text-muted">Don't have an account?</span> <a href="{% url 'register' %}">Register here.</a>
        </div>
    </div>
{% endblock %}